:root {
--color-claro: #FFFFCD;
--color-oscuro: #1E1E1E;
}

body{
font-family: "Raleway", sans-serif;
color: var(--color-oscuro);
background-color: var(--color-claro);
}

.font-weight-boldest {
font-weight: 600 !important; 
}

/* navbar */

.navbar {
padding: 2rem;
gap: 30px;
font-size: 1em;
}

.navbar-collapse{
justify-content: space-between;
}

.navbar-toggler {
border: none; 
background-color: transparent; 
}

.navbar-toggler:focus {
outline: none; 
box-shadow: none; 
}

.navbar li a{
color: var(--color-oscuro);
text-decoration: none;
}

.navbar li:hover{
font-weight: bold;
transition: 0.2s;
}

/* hero section */

.hero-section{
margin-top: 5rem;
}

/* about section */

/* -------------- */

/* works section */

#works-section {
margin-top: 5rem;
}

#works-section .card {
background-color: var(--color-claro); 
border-radius: 0;
border: 1px solid var(--color-oscuro); 
padding: 1rem;
}

.project-image-placeholder {
height: 350px; 
width: 100%;
background-color: var(--color-claro);
margin-bottom: 1.5rem;
}

.project-title {
font-size: 1rem;
font-weight: 600;
margin-bottom: 0.5rem;
}

.skill-tag {
display: inline-block;
padding: 0.25rem 0.75rem;
font-size: 0.95rem;
font-weight: 600;
text-transform: uppercase;
color: var(--color-oscuro);
line-height: 1;
}

.project-description {
font-size: 0.95rem;
color: var(--color-oscuro)
}

#works-section .card {
transition: transform 0.4s ease, box-shadow 0.4s ease; 
box-shadow: none;
}

#works-section .card:hover {
transform: translateY(-6px) rotate(-0.9deg); 
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.152); 
}
