:root {
--color-claro: #d5b9a2;
--color-oscuro: #1E1E1E;
--color-acento: #271aa0;
}

body{
font-family: "Raleway", sans-serif;
color: var(--color-oscuro);
font-weight: 600 !important;
background-color: var(--color-claro);
}

.font-weight-boldest {
font-weight: 600 !important; 
color: var(--color-acento);
}

/* navbar */

.navbar {
padding: 2rem;
gap: 30px;
font-size: 1em;
}

.navbar-collapse{
justify-content: space-between;
}

.navbar-toggler {
border: none; 
background-color: transparent; 
}

.navbar-toggler:focus {
outline: none; 
box-shadow: none; 
}

.navbar li a{
color: var(--color-oscuro);
text-decoration: none;
}

.navbar li a:hover{
font-weight: bold;
transition: 0.2s;
color: var(--color-oscuro);
}

/* hero section */

.hero-section{
margin-top: 5rem;
}

.btn-dark {
background-color: var(--color-acento);
border: 2px solid var(--color-acento);
}

.btn-dark:hover {
border: 2px solid wheat;
background-color: var(--color-acento);
}

.btn-outline-dark{
color: var(--color-oscuro);
border-color: var(--color-oscuro);
font-weight: 500;
}

.btn-outline-dark:hover{

background-color: var(--color-acento);
border-color: var(--color-acento);
font-weight: 500;
}

p{
font-weight: 600 !important;
}

/* about section */

/* -------------- */

/* works section */

#works-section {
margin-top: 5rem;
}

#works-section .card {
background-color: var(--color-claro); 
border-radius: 0;
border: 1px solid var(--color-oscuro); 
padding: 1rem;
}

.project-image-placeholder {
width: 100%;
background-color: var(--color-claro);
margin-bottom: 0 !important;
}

.project-title {
font-size: 1.1rem;
font-weight: 600;
margin-bottom: 0.9rem;
}

.skill-tag {
display: inline-block;
padding: 0.25rem 0.75rem;
font-size: 0.95rem;
font-weight: 700;
color: var(--color-oscuro);
line-height: 1;
}

.project-description {
font-size: 0.9rem;
color: var(--color-oscuro);
font-weight: 500 !important;
}

#works-section .card {
transition: transform 0.4s ease, box-shadow 0.4s ease; 
box-shadow: none;
}

#works-section .card:hover {
transform: translateY(-6px) rotate(-0.9deg); 
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.152); 
}

/* contact section*/

.form-control {

background-color: transparent; 
border: 1px solid var(--color-oscuro); 
border-radius: 0.25rem; 
padding: 0.75rem 1rem;
color: var(--color-oscuro);
font-weight: 500;
}


.form-control:focus {
background-color: var(--color-claro);
color: var(--color-oscuro);
border-color: var(--color-acento); 
box-shadow: 0 0 0 0.25rem rgba(39, 26, 160, 0.25); 
}

/* Título de la sección */
#contact-section h2 {
font-weight: 700;
color: var(--color-acento);
}